body {
  *background-color: #c9c1a7;
}

.headerImage {
    width: 100%;
    *min-height: 300px;
    *position: fixed;
    background-size:cover;
    float: left;
    *right:130px;
}

.headerConstent {
  color: #FFF;
  float: left;
  position:absolute;
  height: 100px;
  width: 100px;
  border: 1px solid #FFF;
}

.jobTitle{
  font-weight: 900;
  color: #5F3827;
}

.companyInfo{
  font-weight:600;
  color: #5F3827;
  font-size:.9em;
}

.jobDuration{
  font-weight: 100;
}

.jobDescription{
  text-align: justify;
  font-size:1em;
}

.skillsHeader{
    font-weight: 600;
}

.skillsContent{
	
}

ul {
  list-style-type: none;
  padding-left:0;
}

.links{
    color: #000000;
    font-style: italic;
    font-size: .9em;
    text-decoration: none;
}

