body {
  *background-color: #c9c1a7;
}

.header{
	background-image: url("../../images/header.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    #background-attachment: center;
    background-position: 0px -50px;
    background-position: center;
}

.headerImage {
    width: 100%;
    *min-height: 300px;
    *position: fixed;
    background-size:cover;
    float: left;
    *right:130px;
}

.headerContent {
  color: #000;
  float: left;
  position:absolute;
  height: 100px;
  width: 100px;
  border: 1px solid #FFF;
}

.jobTitle{
  font-weight: 900;
  color: #5F3827;
}

.companyInfo{
  font-weight:600;
  color: #5F3827;
  font-size:.9em;
}

.jobDuration{
  font-weight: 100;
}

.jobDescription{
  text-align: justify;
  font-size:1em;
}

.skillsHeader{
    font-weight: 600;
}

#interests{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align:center;
}

.interest{
	text-align:center;
}

ul {
  list-style-type: none;
  padding-left:0;
}

.links{
    color: #000000;
    font-style: italic;
    font-size: .9em;
    text-decoration: none;
}

.infoIco {
    text-align: center;
}

.infoContent {
    font-weight: 800;
    text-decoration: none;
    color: white;
    text-align:justify;
}

